# BMW car pricing

## Libraries

In [4]:
import pandas as pd
import numpy as np

## Import Data

In [9]:
df = pd.read_csv(r'C:\Users\Jordi Grau\Desktop\Data Science Project\BMW_Regression-1\bmw_pricing_v2.csv', sep=',')

In [10]:
df

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
0,BMW,118,140411.0,100.0,2012-02-01,diesel,black,convertible,True,True,False,False,True,True,True,False,11300.0,2018-01-01
1,BMW,M4,13929.0,317.0,2016-04-01,petrol,grey,convertible,True,True,False,False,False,True,True,True,69700.0,2018-02-01
2,BMW,320,183297.0,120.0,2012-04-01,diesel,white,convertible,False,False,False,False,True,False,True,False,10200.0,2018-02-01
3,BMW,420,128035.0,135.0,2014-07-01,diesel,red,convertible,True,True,False,False,True,True,True,True,25100.0,2018-02-01
4,BMW,425,97097.0,160.0,2014-12-01,diesel,silver,convertible,True,True,False,False,False,True,True,True,33400.0,2018-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,BMW,218 Gran Tourer,39743.0,110.0,2015-10-01,diesel,black,van,False,True,False,False,False,False,True,False,14600.0,2018-08-01
4839,BMW,218 Active Tourer,49832.0,100.0,2015-06-01,diesel,grey,van,False,True,False,False,False,False,True,True,17500.0,2018-08-01
4840,BMW,218 Gran Tourer,19633.0,110.0,2015-10-01,diesel,grey,van,False,True,False,False,False,False,True,True,17000.0,2018-09-01
4841,BMW,218 Active Tourer,27920.0,110.0,2016-04-01,diesel,brown,van,True,True,False,False,False,False,True,True,22700.0,2018-09-01
4842,BMW,525,195840.0,160.0,2013-01-01,diesel,grey,NaN,True,True,False,False,True,False,True,True,15500.0,2018-09-01

# Functions

# EDA

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   marca                        4841 non-null   object
 1   modelo                       4840 non-null   object
 2   km                           4841 non-null   float64
 3   potencia                     4842 non-null   float64
 4   fecha_registro               4842 non-null   object
 5   tipo_gasolina                4838 non-null   object
 6   color                        4831 non-null   object
 7   tipo_coche                   4834 non-null   object
 8   volante_regulable            4839 non-null   object
 9   aire_acondicionado           4841 non-null   object
 10  camara_trasera               4841 non-null   object
 11  asientos_traseros_plegables  4839 non-null   object
 12  elevalunas_electrico         4841 non-null   object
 13  bluetooth                    4839 non-null   object
 14  gps                          4843 non-null   bool
 15  alerta_lim_velocidad         4841 non-null   object
 16  precio                       4837 non-null   float64
 17  fecha_venta                  4842 non-null   object
dtypes: bool(1), float64(3), object(14)
memory usage: 648.1+ KB

In [12]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Columns: 18 entries, marca to fecha_venta
dtypes: bool(1), float64(3), object(14)
memory usage: 648.1+ KB

In [13]:
description = df.describe(include='all').T

In [14]:
description.to_excel('df_description.xlsx')

# Analisis del Target

In [22]:
TARGET = 'precio'

In [24]:
df[TARGET].describe()

count      4837.000000
mean      15831.920612
std        9222.630708
min         100.000000
25%       10800.000000
50%       14200.000000
75%       18600.000000
max      178500.000000
Name: precio, dtype: float64

# Data Understanding

### Marca

In [15]:
df['marca'].value_counts(dropna = True)

BMW    4841
Name: marca, dtype: int64

In [16]:
df.drop('marca', axis = 1, inplace = True) # no tiene varianza

### Modelo

In [19]:
df['modelo'].value_counts(dropna = True)

320                752
520                633
318                568
X3                 438
116                358
                  ...
M135                 1
225                  1
i8                   1
630                  1
214 Gran Tourer      1
Name: modelo, Length: 76, dtype: int64

In [23]:
df[df['modelo'].value_counts(dropna = True)<6]

C:\Users\JORDIG~1\AppData\Local\Temp/ipykernel_16692/1417326671.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['modelo'].value_counts(dropna = True)<6]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).